.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;
    padding: 1.5rem;
    color: white;
    background: #02b175;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName {
    margin-right: 5px;
}

.userImage {
    border-radius: 50%;
    margin: 0 auto;
}