.leftSection {
  width: 100%;
  margin-right: 15px;
}

.rightSection{
  width: 100%;
}

.problem {
  border: solid 2px #f3f1f4;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.solving {
  border: solid 2px #f3f1f4;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  height: 200px;
  background: white;
}