.leftSection {
  width: 100%;
  margin-right: 15px;
}

.rightSection{
  width: 100%;
}

.problem {
  border: solid 2px #f3f1f4;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.solving {
  border: solid 2px #f3f1f4;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  height: 200px;
  background: white;
}

.bottomSection {
  display: flex;
}

.uploadNew {
  border: solid 2px #e5e3e6;
  border-radius: 8px;
  margin-left: auto;
  padding: 0 10px;
  height: 40px;
  background-color: #dbdbdb;
  color: black;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 7px;
}

.uploadNew:hover {
  border: solid 2px #e5e3e6;
  background-color: #cbcbcb;
}